In [1]:
import pandas as pd
import os

In [2]:
customers = pd.read_csv('../staging_1/customers/customers.csv')
customers.head()

,customer_id,first_name,last_name,email,street,city,state,zip_code,Extraction_Date_Time,Source
0,1,Debra,Burks,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-03 23:35:20.819551,DL
1,2,Kasha,Todd,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-03 23:35:20.819551,DL
2,3,Tameka,Fisher,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-03 23:35:20.819551,DL
3,4,Daryl,Spence,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-03 23:35:20.819551,DL
4,5,Charolette,Rice,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-03 23:35:20.819551,DL

In [3]:
stores = pd.read_csv('../staging_1/stores/stores.csv')
stores

,store_id,store_name,phone,email,street,city,state,zip_code,Extraction_Date_Time,Source
0,1,Santa Cruz Bikes,(831) 476-4321,NaN,3700 Portola Drive,Santa Cruz,CA,95060.0,2024-05-03 23:35:23.443538,DL
1,2,Baldwin Bikes,(516) 379-8888,baldwin@bikes.shop,4200 Chestnut Lane,Baldwin,NY,11432.0,2024-05-03 23:35:23.443538,DL
2,3,Rowlett Bikes,(972) 530-5555,rowlett@bikes.shop,8000 Fairway Avenue,Rowlett,TX,75088.0,2024-05-03 23:35:23.443538,DL

In [4]:
customers['local'] = customers['city'].isin(stores['city'].unique())
customers.head()

,customer_id,first_name,last_name,email,street,city,state,zip_code,Extraction_Date_Time,Source,local
0,1,Debra,Burks,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,14127,2024-05-03 23:35:20.819551,DL,False
1,2,Kasha,Todd,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,95008,2024-05-03 23:35:20.819551,DL,False
2,3,Tameka,Fisher,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,90278,2024-05-03 23:35:20.819551,DL,False
3,4,Daryl,Spence,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,11553,2024-05-03 23:35:20.819551,DL,False
4,5,Charolette,Rice,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,95820,2024-05-03 23:35:20.819551,DL,False

In [5]:
#Reorder columns to be more readable:
desired_column_order = ['customer_id', 'first_name', 'last_name', 'email', 'street', 'city', 'state', 'local', 'zip_code', 'Extraction_Date_Time', 'Source']
customers = customers.reindex(columns=desired_column_order)
customers.head()

,customer_id,first_name,last_name,email,street,city,state,local,zip_code,Extraction_Date_Time,Source
0,1,Debra,Burks,debra.burks@yahoo.com,9273 Thorne Ave.,Orchard Park,NY,False,14127,2024-05-03 23:35:20.819551,DL
1,2,Kasha,Todd,kasha.todd@yahoo.com,910 Vine Street,Campbell,CA,False,95008,2024-05-03 23:35:20.819551,DL
2,3,Tameka,Fisher,tameka.fisher@aol.com,769C Honey Creek St.,Redondo Beach,CA,False,90278,2024-05-03 23:35:20.819551,DL
3,4,Daryl,Spence,daryl.spence@aol.com,988 Pearl Lane,Uniondale,NY,False,11553,2024-05-03 23:35:20.819551,DL
4,5,Charolette,Rice,charolette.rice@msn.com,107 River Dr.,Sacramento,CA,False,95820,2024-05-03 23:35:20.819551,DL

In [6]:
file_path = '../Staging_2/customers/customers.csv'

os.makedirs(os.path.dirname(file_path), exist_ok=True)
customers.to_csv(file_path, index = False)